<p>register works!</p>

<button nz-button nzType="primary">Accent button</button>

<button nz-button nzType="primary" disabled>Accent button</button>

<br />
<br />

<button nz-button nzType="default">Secondary button</button>
<button nz-button nzType="default" disabled>Secondary button</button>

<br />
<br />

<button nz-button nzType="dashed">Terciary button</button>
<button nz-button nzType="dashed" disabled>Terciary button</button>
<app-general-data></app-general-data>
<app-sender-addressee-information></app-sender-addressee-information>

<nz-steps [nzCurrent]="3" nzDirection="vertical">
  <nz-step nzTitle="Datos Generales" nzDescription="08:45 PM"></nz-step>
  <nz-step
    nzTitle="Datos del Remitente Datos del Destinatario"
    nzDescription="No registrado"></nz-step>
  <nz-step nzTitle="Datos del paquete" nzDescription="No registrado"></nz-step>
  <nz-step
    nzTitle="Datos del pago Aduanas"
    nzDescription="No registrado"></nz-step>
  <nz-step
    nzTitle="Orden de Salida/POD"
    nzDescription="No registrado"></nz-step>
  <nz-step nzTitle="Courier Incidencia" nzDescription="No registrado"></nz-step>
  <nz-step nzTitle="Guía" nzDescription="No registrado"></nz-step>
</nz-steps>
