<!-- <p>Hola probando testing</p>
<h1 class="color">Presentación</h1>
<h1 class="color2">Presentación</h1>
<p>Default</p>
<button disabled class="primary-button">Accent button</button>
<button  class="primary-button">Disabled button</button> -->

<!-- <p></p>
<button class="secondary-button">Accent button</button>

<p>Pressed</p>

<button class="pressed-button">Accent button</button>
<p>Disabled</p>
<button disabled>Accent button</button> -->
<!-- 
<button
  class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-400">Hello</button> -->
