<p>Hola probando testing</p>
<h1 class="color">Presentación</h1>
<h1 class="color2">Presentación</h1>

<p>Accent</p>

<button  class="primary-button">Accent button</button>
<button disabled class="primary-button">Accent button</button>

<p>Secondary</p>

<button class="secondary-button">Secondary button</button>
<button disabled class="secondary-button">Secondary button</button>

<p>Terciary</p>
<button class="terciary-button">Terciary button</button>
<button disabled class="terciary-button">Terciary button</button>

